<h2 class="text-center mb-5">アカウント編集</h2>

<div class="mx-auto" style="width: 200px;">
  <%= form_with model: @user do |f| %>
    <% @user.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
    <div class="field mb-3">
      <%= f.label :ユーザー名 %> <br />
      <%= f.text_field :name %>
    </div>
    <!-- ユーザー画像フォームも追加 -->
    <div class="field mb-3">
      <%= f.label "画像" %><br> 
    </div>

    <div class="field mb-3">
      <%= f.label :メールアドレス %><br />
      <%# <%= f.email_field :email, autofocus: true, autocomplete: "email" %> 
      <%= f.email_field :email %>
    </div>

    <div class="field mb-3">
      <%= f.label :現在のパスワード %>
      <%# <%= f.password_field :password, autocomplete: "password" %> %>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="field mb-3">
      <%= f.label :新しいパスワード %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %>文字以内</em>
      <% end %>
    </div>

    <div class="field mb-3">
      <%= f.label :新しいパスワード（確認用） %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions mb-3">
      <%= f.submit "保　存" %>
    </div>
  <% end %>
</div>
