<h2 class="text-center mb-5">投稿編集</h2>

<div class="main posts-new">
  <div class="container">
    <%= form_with(model: @post, url: "/posts/#{@post.id}/update", local: true) do |f| %>
    　 <div class="form-group">
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= f.label "画像" %><br> 
        <% if @post.image.present? %>
          <%= image_tag @post.image.url, :size =>'299x200' %><br> 
         <% else %>
          <%= image_tag 'default.png', :size =>'299x200' %><br> 
        <% end %>
        <%= f.file_field :image, value: @post.image %>
      </div>
      <div class="form-group">
        <%= f.label "店名" %><br><%= f.text_field :store_name %>
      </div>
      <div class="form-group">
        <%= f.label "wifiの有無" %><br>
        <%= f.radio_button :wifi, :yes %>
        <%= f.label :wifi, "有り", {value: :yes, style: "display: inline-block;"} %>
        <%= f.radio_button :wifi, :no %>
        <%= f.label :wifi, "無し", {value: :no, style: "display: inline-block;"} %>
      </div>
      <div class="form-group">
        <%= f.label "電源の有無" %><br>
        <%= f.radio_button :power, :yes %>
        <%= f.label :power, "有り", {value: :yes, style: "display: inline-block;"} %>
        <%= f.radio_button :power, :no %>
        <%= f.label :power, "無し", {value: :no, style: "display: inline-block;"} %>
      </div>
      <div class="form-group mb-3">
        <%= f.label "クレジットカードの利用" %><br>
        <%= f.radio_button :creditcard, :yes %>
        <%= f.label :creditcard, "可", {value: :yes, style: "display: inline-block;"} %>
        <%= f.radio_button :creditcard, :no %>
        <%= f.label :creditcard, "不可", {value: :no, style: "display: inline-block;"} %>
      </div>
    　<div class="form-group">
        <%= f.label "おすすめポイント" %><br><%= f.text_area :content, value: @post.content %>
      </div>
      <div class="actions">
        <%= f.submit "保存"%>
      </div>
    <% end %>
  </div>
</div>
