<h2 class="text-center mb-5">投稿一覧</h2>

<div class="container py-5">
  <div class="row -eq-height">
    <% @posts.each do |post| %>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
        <!-- 画像からも詳細ページに飛べるようにする -->
          <% if post.image.present? %>
            <%= link_to image_tag(post.image_url, :size =>'288x200'), "/posts/#{post.id}" %>
          <% else %>
            <%= link_to image_tag('default.png', :size =>'288x200'), "/posts/#{post.id}" %>
          <% end %>
          <div class="card-body">
              <h5 class="card-title"><%= link_to(post.store_name, "/posts/#{post.id}") %></h5>
              <h6 class="card-subtitle mb-2 text-muted">
                <% if post.wifi == "yes" %>
                  <i class="fas fa-wifi"></i>
                <% end %>
                <% if post.power == "yes" %>
                  <i class="fas fa-plug"></i>
                <% end %>
                <% if post.creditcard == "yes" %>
                  <i class="far fa-credit-card"></i>
                <% end %>
              </h6>
              <p class="card-text"><%= post.content %></p>
          </div>
          <div class="card-footer">
          <!-- 投稿したユーザー名,ユーザー画像表示 -->
            <div class="d-flex justify-content-end">
              <% if post.user.image.present? %>
                <img src=<%= post.user.image %> class="rounded-circle mr-1">
              <% else %>
                 <i class="fas fa-user-circle fa-2x mr-1"></i>
              <% end %>
              <%= link_to(post.user.name, "/users/#{post.user.id}") %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



