<h2 class="text-center mb-5">投稿詳細</h2>

<div class="mx-auto" style="width: 200px;">
  <div class="card">
    <!-- 画像表示 -->
    <%# <%= form_for @post do |f| %> 
      <%# <%= form.file_field :image %> 
    <%# <% end %> 
      <%# <% if @post.images.each do |image| %>
        <%# <%= image_tag(image.url) %> %>
      <%# <% end %> %> %>
    <div class="card-body">
      <h5 class="card-title"><%= @post.store_name %></h5>
      <p class="card-text"><%= @post.content %></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="post-menus text-right">
    <%= link_to("編集", "/posts/#{@post.id}/edit") %>
    <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
  </div>
</div>
    
