<h2 class="text-center mb-5">投稿詳細</h2>

<div class="mx-auto" style="width: 300px;">
  <div class="card">
    <% if @post.image.present? %>
      <%= image_tag (@post.image_url) %>
    <% else %>
      <%= image_tag 'default.png', :size =>'299x200' %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= @post.store_name %></h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <% if @post.wifi == "yes" %>
            <i class="fas fa-wifi"></i>wifiあり
          <% end %>
          <% if @post.power == "yes" %>
            <i class="fas fa-plug"></i>電源あり
          <% end %>
          <% if @post.creditcard == "yes" %>
            <i class="far fa-credit-card"></i>クレジットカード利用可
          <% end %>
        </h6>
      <p class="card-text"><%= @post.content %></p>
    </div>
    <div class="card-footer">
    <!-- 投稿したユーザー名表示 -->
      <div class="d-flex justify-content-end">
        <% if @user.picture.present? %>
          <img src=<%= @user.picture %> class="rounded-circle mr-1">
        <% else %>
            <i class="fas fa-user-circle fa-2x mr-1"></i>
        <% end %>
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
    </div>
  </div>
  <%# <% if @post.user_id == @current_user.id %> 
  <% if user_signed_in? && @user == current_user %>
    <div class="post-menus text-right">
      <%= link_to("編集", "/posts/#{@post.id}/edit") %>
      <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
    </div>
  <% end %>
</div>
    
