<h2 class="text-center mb-5">投稿詳細</h2>

<div class="mx-auto" style="width: 300px;">
  <div class="card">
    <% if @post.image.present? %>
      <%= image_tag (@post.image_url) %>
    <% else %>
      <%= image_tag 'default.png', :size =>'299x200' %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= @post.store_name %></h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <% if @post.wifi == "yes" %>
            <i class="fas fa-wifi">wifiあり</i>
          <% end %>
          <% if @post.power == "yes" %>
            <i class="fas fa-plug">電源あり</i>
          <% end %>
          <% if @post.creditcard == "yes" %>
            <i class="far fa-credit-card">クレジットカード利用可</i>
          <% end %>
        </h6>
      <p class="card-text"><%= @post.content %></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="post-menus text-right">
    <%= link_to("編集", "/posts/#{@post.id}/edit") %>
    <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
  </div>
</div>
    
