<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>CafeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- herokuデプロイ時エラー（webpackerがcompileできない）修正のため、コメントアウト -->
    <%# <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Font Awesome読み込み -->
    <%# <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet"> %>
  </head> 

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container font-weight-bold">
          <%= link_to 'Oshicafe@okayama', root_path %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item mr-3 ml-3">
                <%= link_to '投稿一覧', "/posts/index" %>
              </li>
               <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to '投稿', "/posts/new" %>
                </li>
              <% end %>
            </ul>
            <ul class="navbar-nav ml-auto">
                <% if user_signed_in? %>
                  <li class="nav-item mr-3">
                    <%# <%= link_to 'マイページ', edit_user_registration_path %> 
                    <%# <%= link_to 'マイページ', mypage_path %> 
                    <%= link_to 'マイページ', "/users/#{current_user.id}" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
                  </li>
                <% else %>
                  <li class="nav-item text-body mr-3">
                    <%= link_to '新規登録', new_user_registration_path %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to 'ログイン', new_user_session_path %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '簡単ログイン', new_user_session_path %>
                  </li>
                <% end %>
            </ul> 
          </div>
      </nav>
    </header>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    
　　 <main></main>
    <footer class="footer mt-auto py-3">
      <div class="container text-center">
        <span class="text-muted">Copyright © Oshicafe@okayama, All Rights Reserved.</span>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
